@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'poppins', sans-serif;
}


/* :root
{
    /* --bg-color:linear-gradient(40deg,#ffe100,#001aff,#000000); 
    --bg-color:#081b29;
    --second-bg-color:#112e42;
    --text-color:#ededed;
    --main-color:#00abf0;

    --color:#40ff9c;
    --hover-color:linear-gradient(130deg,#ff0000,#1900ff8b,#00ff9d);
    
    --h3main-color:#00abf0;
    --span-color:#00abf0;
    --btn-color:#00abf0;
    --borderbtn-color:#00abf0;
}  */


.dark-mode
{

    --bg-color:#000000;
    --second-bg-color:#181616;
    --main-color:#f700ff;
}

:root 
{
    --main-color:#00abf0;
    --bg-color:#000000;
    --second-bg-color:#000000;

    --h3main-color:#00abf0;
    --text-color:#ffffff;

    --icon-color:#00abf0;
    --icon-hover-color:#f700ff;
    --profile-pic-shadow-color:#00abf0;

    --projects-border-color:#ea00ff;
    --projects-before-color:#081b29;
    --projects-hover-color:#00abf0;
    --projects-borderhover-color:#fff;
    

    
    --span-color:#000000;
    --btn-color:#081b29;
    --borderbtn-color:#fff;


        .skills-box .skills-content::before
        {
            background:#081b29;
        }

        .skills-box .skills-content:hover
        {
            border: .2rem solid #fff;
            box-shadow: 0rem 0rem 1rem #00abf0;
            background:#081b29;
            transition: .5s linear;
        }


}

/**********    end of neon effect   ***********/

html
{
    font-size: 62.7%;
    overflow-x: hidden;
}

#particles-js
{
    position: absolute;
    /* background: #363837; */
    height: 100%;
    width: 100%;
    margin-left: -13.6rem;
    opacity: .5;
}

body
{
    background: var(--bg-color);
    color: var(--text-color);
}

.header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    transition: .3s;
}

.header.sticky                             /*don't put here space between '.header' and '.sticky' */
{
    background:linear-gradient(rgb(44, 43, 43),#00000000);
}

.logo
{
    position: relative;
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600; 
}

.navbar
{
    position: relative;
}

.navbar a
{
    font-size: 1.7rem;
    color:var(--text-color);
    font-weight: 500;
    margin-left: 3.5rem;
    transition: .3s;
}

#darkMode-icon
{
    font-size: 2.4rem;
    color: white;
    cursor: pointer;
}

.navbar a:hover, .navbar a.active
{
    color: var(--main-color);
}

#menu-icon
{
    position: relative;
    font-size: 3.6rem;
    color: var(--text-color);
    cursor: pointer;
    display: none;
}

section
{
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}


.home
{
    display:flex;
    align-items: center;
    padding: 0 9%;
    border-bottom: .15rem solid rgb(0, 195, 255);
      
}

.home-content
{
    max-width: 60rem;
}


.home-content i
{
    margin-right: 6px;
}

.home-content h1
{
    position: relative;
    display: inline-block;
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
    color:#000000;
    -webkit-text-stroke: #fff;
    -webkit-text-stroke-width: 0.7px;
    text-shadow: 0rem 0rem 1.4rem #00ffff;
}


.home-content .text-animate
{
    position: relative;
    width: 32.8rem;
    /* animation: animateBg 60s linear infinite; */
}

.home-content .text-animate h3
{
  font-size: 3.2rem;
  font-weight: 800;
  color:black;
  -webkit-text-stroke: .8px white; 
  text-shadow: 0rem 0rem 10px #00ffff;
}


@keyframes homeBgtext
{
    0%,10%,100%
    {
        background-position: -33rem 0;
    }
    
    65%,85%
    {
        background-position: 0 0;
    }

}



.home-content p
{
    position: relative;
    font-size: 1.6rem;
    margin: 2rem 0 4rem;
}

.btn-box
{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 34.5rem;
    height: 5rem;
}

.btn-box .btn
{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 100%;
    background: var(--btn-color);
    border: .2rem solid var(--borderbtn-color);
    border-radius: .8rem;
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: .1rem;
    color: var(--bg-color);
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.btn-box .btn:hover
{
    color: var(--main-color);
}

.btn-box .btn:nth-child(2)
{
    background: transparent;
    color: var(--btn-color);
}

.btn-box .btn:nth-child(2):hover
{
    color: var(--bg-color);
}

.btn-box .btn:nth-child(2)::before
{
    background: var(--main-color);
}

.btn-box .btn::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--bg-color);
    z-index: -1;
    transition: .4s;
}

.btn-box .btn:hover::before
{
    width: 100%;
}

.home-sci
{
    position: absolute;
    bottom: 4rem;
    width: 170px;
    display: flex;
    justify-content: space-between;
}

.home-sci a
{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: .2rem solid var(--icon-color);
    border-radius: 50%;
    font-size: 20px;
    color: var(--icon-color);
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.home-sci a:hover
{
    color: var(--icon-hover-color);
    border: .2rem solid var(--icon-hover-color);
    box-shadow: 0rem 0rem 1rem var(--icon-hover-color);
    width: 50px;
    height: 50px;
}


.home-sci a::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    z-index: -1;
    transition: .5s;
}

.home-sci a:hover::before
{
    width: 100%;
}

.atom
{
    position: relative;
    height: 40rem;
    width: 40rem;
    margin-left: 18%;
    align-items: center;
    justify-content: center;
    animation: rotate 20s linear infinite;
    transition: .5s linear;
}

.line span:nth-child(1)
{
    height: 1rem;
    width: 4rem;
    border: .5rem solid red;
    border-radius: 50%;
    animation: animateBg 3s linear infinite;
    /* animation: animateBg2 3s linear infinite; */
}

@keyframes animateBg
{
    0%
    {
        filter: hue-rotate(0deg);
    }
    100%{
        filter: hue-rotate(360deg);
    }
}

@keyframes rotate
{
    0%{
        transform:rotate(0deg);
        filter: hue-rotate(0deg);
    }
    100%{
        transform:rotate(360deg);
        filter: hue-rotate(360deg);
    }
}



.line
{
    width: 100%;
    height: 100%;
    position: absolute;
    opacity:100%;
    box-shadow: 3rem 1rem 20rem var(--color);
    animation: rotate 10s linear infinite;
}

/* .line:hover
{
    animation: earth 40s linear infinite;
  
} */

.line-1
{
    --color:#40ff9c;
    width: 100%;
    height: 100%;
    border-radius:50%;
    border-bottom: 10px solid var(--color);
    border-top: 10px solid var(--main-color);
    filter: drop-shadow(0 0 10px --color);
    animation: earth 60s linear infinite;
    animation: line1 3s linear infinite;
}

@keyframes line1
{
    0%{
        transform:rotateX(5deg) rotateY(100deg) rotateZ(0deg);
    }
    100%{
        transform:rotateX(5deg) rotateY(100deg) rotateZ(360deg);
    }
}

.line-2
{
    --color:#0ff;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border-bottom: 10px solid var(--main-color);
    border-top: 10px solid var(--color);
    filter: drop-shadow(0 0 10px --color);
    animation: line2 3s linear infinite;
}

@keyframes line2
{
    0%{
        transform: rotateX(80deg) rotateY(25deg) rotateZ(0deg);
    }
    100%{
        transform: rotateX(80deg) rotateY(25deg) rotateZ(360deg);
    }
}

.line-3
{
    --color:#c096ff;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border-bottom: 10px solid var(--main-color);
    border-top: 10px solid var(--color);
    filter: drop-shadow(0 0 10px --color);
    animation: line3 2s linear infinite;
}

@keyframes line3
{
    0%{
        transform: rotateX(-80deg) rotateY(25deg) rotateZ(0deg);
    }
    100%{
        transform: rotateX(-80deg) rotateY(25deg) rotateZ(360deg);
    }
}

.about
{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background: var(--second-bg-color);
    padding-bottom: 6rem;
    border-bottom: .15rem solid rgb(0, 195, 255);
}

.heading
{
    position: relative;
    font-size: 5rem;
    margin-bottom: 3rem;
    text-align: center;
}

span
{
    color: var(--span-color);
}



.about-img
{
    position: relative;
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-img img
{
    
    width: 90%;
    border-radius: 50%;
    border: .2rem solid black;
    overflow: hidden;
}

.about-img .circle-spin
{
    position: absolute;
    transform: translate(-50%,-50%) rotate(0);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: 0 0 10px var(--profile-pic-shadow-color),
                0 0 10px var(--profile-pic-shadow-color),
                0 0 20px var(--profile-pic-shadow-color),
                0 0 40px var(--profile-pic-shadow-color),
                0 0 60px var(--profile-pic-shadow-color),
                0 0 80px var(--profile-pic-shadow-color),
                0 0 100px var(--profile-pic-shadow-color);
    transform: scale(0.9);         
    transition: .5s;
}


.about-content
{
    text-align: left;
}

.about-content h3
{
    position: relative;
    display: inline-block;
    font-size: 3rem;
}

.Skills
{
    display: flex;
    margin-top: -50rem;
    margin-left: 46rem;
    flex-wrap: wrap;
}
.Skills h2
{
    display: flex;
    margin-left: .5rem;
    padding: 1rem;
    border: 2px solid red;
}

.about-content p
{
    position: relative;
    font-size: 1.9rem;
    margin: 2rem 0 3rem;
}

.btn-box.btns                
{
    display: inline-block;
    width: 15rem;
}

.btn-box.btns a::before
{
    background: var(--second-bg-color);
}

.education
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: auto;
    padding-bottom: 5rem;
    border-bottom: .15rem solid rgb(0, 195, 255);
}

.education .education-row
{
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}

.education-row .education-column          
{
    flex: 1 1 40rem;
} 

.education-column .title
{
    position: relative;
    display: inline-block;
    font-size: 2.5rem;
    margin: 0 0 1.5rem 2rem;
}

.education-box .education-content
{
    position:relative;
    padding: 2rem;
}

.education-content .content
{
    position: relative;
    padding: 1.5rem;
    border: .2rem solid var(--projects-border-color);
    border-radius: .6rem;
    margin-bottom: 2rem;
    overflow: hidden;
}

.education-content .content:hover
{
    box-shadow: 0rem 0rem 1rem var(--projects-hover-color);
    border: .2rem solid var(--projects-borderhover-color);
}

.education-content .content::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background:var(--projects-before-color);
    z-index: -1;
    transition: .5s;
}

.education-content .content:hover::before
{
    width: 100%;
}


.education-content .content .year
{
    font-size: 1.5rem;
    color: var(--main-color);
    padding-bottom: .5rem;
}

.education-content .content .year i
{
    padding: .5rem;
}

.education-content .content h3
{
    font-size: 2rem;
}

.education-content .content p
{
    font-size: 1.6rem;
    padding-top: .5rem;
}

.skills
{
    min-height: auto;
    padding-bottom: 7rem;
    background: var(--second-bg-color);
    border-bottom: .15rem solid rgb(0, 195, 255);
    height: 100vh;
}

.skills h2
{
    display: inline-block;
    left: 50%;
    transform: translateX(-50%);
}

.skills .skills-row
{
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}

.skills-row .skills-column
{
    flex:1 1 40rem;
}

.skills-column .title
{
    position: relative;
    display: inline-block;
    font-size: 2.5rem;
    margin: 0 0 1.5rem;
}

.skills-column .skills-box
{
    position: relative;
}

.skills-box .skills-content
{
    position: relative;
    border: .2rem solid var(--main-color); 
    border-radius: .6rem;
    padding: .5rem 1.5rem;
    z-index: 1;
    overflow: hidden;
}

.skills-box .skills-content::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background:var(--bg-color);
    z-index: -1;
    transition: .5s;
}

.skills-box .skills-content:hover::before
{
    width: 100%;
}


.skills-content .progress
{
    padding: 1rem 0;
}

.skills-content .progress h3
{
    font-size: 1.7rem;
    display: flex;
    justify-content: space-between;
}

.skills-content .progress h3 span
{
    color: var(--text-color);
}

.skills-content .progress .bar
{
    height: 2.5rem;
    border-radius: .6rem;
    border: .2rem solid var(--main-color);
    padding: .5rem;
    margin: 1rem 0;
}

.skills-content .progress .bar span
{
    display: block;
    height: 100%;
    border-radius: .3rem;
    background: var(--main-color);
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(1) .bar span
{
    width: 90%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(2) .bar span
{
    width: 60%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(3) .bar span
{
    width: 60%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(4) .bar span
{
    width: 60%;
}


.skills-column:nth-child(2) .skills-content .progress:nth-child(1) .bar span
{
    width: 75%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(2) .bar span
{
    width: 60%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(3) .bar span
{
    width: 57%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(4) .bar span
{
    width: 90%;
}

/*************   Starting Links to our projects   ***********/
a
{
    color: var(--color);
}

/*************  Ending Links to our projects   ***********/


.contact
{
    min-height: auto;
    padding-bottom: 7rem;
}

.contact h2
{
    display: inline-block;
    left: 50%;
    transform: translateX(-50%);
}

.contact form
{
    max-width: 70rem;
    margin: 0 auto;
    text-align: center;
}

.contact form .input-box
{
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box .input-field
{
    position: relative;
    width: 49%;
    margin: .8rem 0;
}

.contact form .input-box .input-field input, 
.contact form .textarea-field textarea
{
    width: 100%;
    height: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: transparent;
    border-radius: .6rem;
    border: .2rem solid var(--main-color);
}

.contact form .input-box .input-field input::placeholder
.contact form .textarea-field textarea::placeholder
{
    color: var(--text-color);
}

.contact form .focus
{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--second-bg-color);
    border-radius: .6rem;
    z-index: -1;
    transition: .5s;
}

.contact form .input-box .input-field input:focus~.focus,
.contact form .input-box .input-field input:valid~.focus,
.contact form .textarea-field textarea:focus~.focus,
.contact form .textarea-field textarea:valid~.focus
{
    width: 100%;
}

.contact form .textarea-field
{
    position: relative;
    margin: .8rem 0 2.7rem;
    display: flex;
}

.contact form .textarea-field textarea
{
    resize: none;
}

.contact form .btn-box.btns .btn
{
    cursor: pointer;
}

/* ANIMATION RELOAD AND SCROLL */
/* .animate
{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: var(--bg-color);
    z-index: 98;
}

.logo .animate,
.navbar .animate,                                         /* starting animation effects "Home page" 
#menu-icon .animate,
.home.show-animate .animate
{
    animation: showRight .4s ease forwards;
    animation-delay: calc(.3s * var(--i));
}

.animate.scroll
{
    transition: .5s ease;
    transition-delay: calc(.3s / var(--i));
    animation: none;
}

section:nth-child(odd) .animate.scroll
{
    background: var(--second-bg-color);
}

.education .education-box .animate.scroll
{
    width: 105%;
}

.about.show-animate .animate.scroll,
.education.show-animate .animate.scroll,
.skills.show-animate .animate.scroll,
.contact.show-animate .animate.scroll
{
    transition-delay: calc(.3s * var(--i));
    width: 0;
}


@keyframes showRight
{
    100%
    {
        width: 0;
    }
} */


@media (max-width: 1500px)
{

    html
    {
        font-size:60%;
    }

    .atom
    {
        height: 30rem;
        width: 30rem;
        margin-left: 30%;
    }
}


@media (max-width: 1490px)
{
  
    .atom
    {
        height: 30rem;
        width: 30rem;
    }
}

@media (max-width: 1200px)
{
    html
    {
        font-size: 55%;
    }

    .atom
    {
        height: 30rem;
        width: 30rem;
        margin-left: 18%;
    }
}

@media (max-width: 1100px)
{
    .atom
    {
        height: 20rem;
        width: 20rem;
    }
}


@media (max-width: 991px)
{
    .header
    {
        padding: 2rem 4%;
    }

    section
    {
        padding: 10rem 4% 2rem;
    }

    .home
    {
        padding: 0 4%;
    }

    .atom
    {  
       height: 30rem;
       width: 40rem; 
       margin-right: 8rem;
    }

}

@media (max-width: 768px)
{
    .header
    {
        background: var(--bg-color);
    }
    
    #menu-icon
    {
        display: block;
    }

    .navbar
    {
        position: absolute;
        top: 100%;
        left: -100%;
        width: 100%;
        padding: 1rem 4%;
        background: var(--main-color);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        z-index: 1;                                    /*for hover effect three dot */ 
        transition: .25s ease;
        transition-delay: .25s;
    }

    .navbar.active
    {
        left: 0;
        transition-delay: 0s;
    }

    .navbar .active-nav
    {
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background:var(--bg-color);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        z-index: -1;                                     /*for hover effect three dot */
        transition: .25s ease;
        transition-delay: 0s;
    }

    .navbar.active .active-nav
    {
        left: 0;
        transition-delay: .25s;
    }

    .navbar a
    {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        transform: translateX(-20rem);
        transition: .25s ease;
        transition-delay: 0s;
    }

    .navbar.active a
    {
        transform: translateX(0);
        transition-delay: .25s;
    }

    .atom
    {
        height: 20rem;
        width: 30rem;
    }

}

@media (max-width: 700px)
{
    .atom
    {
        opacity: 0;
        position: absolute;
    }
}

/* @media (max-width: 520px)
{
    html
    {
      font-size: 50%;  
    }

    .atom
    {
        position: absolute;
        opacity: 0;
    }

    .home-content h1
    {
        display: flex;
        flex-direction: column;
    }

    .home-sci
    {
        width: 160px;
    }

    .home-sci a
    {
        width: 38px;
        height: 38px;
    }
} */


@media (max-width:700px)
{
    html
    {
      font-size: 53%;  
    }

    .home
    {
        size: 100%;
        justify-content: center;
    }

    .home-content
    {
        margin-bottom: 35rem;
    }

    .atom
    {
        /* position: absolute; */
        opacity: 1;
        margin-top: 30rem;
        margin-right: 12rem;
        height: 30rem;
        width: 30rem;
    }

    .home-content                /*to do:- center all */
    {
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }
}

@media (max-width: 515px)
{
     
    html
    {
      font-size: 52%;  
    }

    .home
    {
        size: 100%;
        justify-content: center;
    }

    .home-content
    {
        margin-bottom: 35rem;
    }

    .atom
    {
        position: absolute;
        opacity: 1;
        margin-top: 35rem;
        margin-right: 6.5rem;
        height: 20rem;
        width: 20rem;
    }

    .home-content                /*to do:- center all */
    {
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }
}

@media (max-width: 506px)
{
    .atom
    {
        position: absolute;
    }
    
    .home-content h1
    {
        font-size: 5.2rem;
    }

    .home-content span
    {
        display: grid;
    }

    .education
    {
        padding: 10rem 4% 5rem 5%;
    }

    .contact form .input-box .input-field
    {
        width: 100%;
    }

}
