@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap'); */


*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'poppins', sans-serif;
}

/* .dark-mode
{

    --bg-color:#000000;
    --second-bg-color:#181616;
    --main-color:#f700ff;
} */

:root 
{
    --main-color:#00abf0;
    --bg-color:#000000;
    --second-bg-color:#000000;

    --h3main-color:#00ffff;
    --font-color:#ffffff;

    --icon-color:#00ffff;
    --icon-hover-color:#f700ff;
    --profile-pic-shadow-color:#00ffff;

    --projects-border-color:#ea00ff;
    --projects-before-color:#081b29;
    --projects-hover-color:#00ffff;
    --projects-borderhover-color:#fff;
    

    
    --span-color:#000000;
    --btn-color:#081b29;
    --borderbtn-color:#fff;

    --scrolbar-bg-color:#000000;


}

/************ Cursor designing start **************/


/**********  start scroolbaar designing  ***********/

/**********  end scroolbaar designing  ***********/


html
{
    font-size: 62.7%;
    overflow-x: hidden;
    scrollbar-color: red;
    scroll-behavior: smooth;
}

#particles-js
{
    position: absolute;
    /* background: #363837; */
    height: 100%;
    width: 100%;
    margin-left: -13.6rem;
    opacity: .5;
    filter: hue-rotate(360deg);
    z-index: 1;
}

body
{
    background: var(--bg-color);
    color: var(--font-color);
}

.header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 5%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 500;
    transition: .3s;
    /* border-bottom: 1px solid var(--main-color); */
}

.header.sticky                             
{
    backdrop-filter: blur(10px);
    border-bottom: 1px solid white;
    /* background:linear-gradient(rgb(44, 43, 43),#00000000); */
}


/****************************** gsap animation start ***************************/
/* 
.gsap-btf
{
    /* border: 2px solid red; 
    position: absolute;
    /* height: 0%;
    width: 20vw; 
    rotate: 90deg;
    top: 10%;
    left: 20%;
    /* z-index: 1000; 
}

.gsap-btf img
{
    height: 60rem;
    width: 30rem;
    /* border: 2px solid red; 
    filter: hue-rotate(220deg) saturate(400%);

} */

/****************************** gsap animation end ***************************/


.logo
{
    position: relative;
    font-size: 2.5rem;
    color: var(--font-color);
    font-weight: 600; 
}

.navbar
{
    position: relative;
}

.navbar a
{
    font-size: 1.7rem;
    color:var(--font-color);
    font-weight: 500;
    margin-left: 3.5rem;
    transition: .3s;
}

.navbar a:hover, .navbar a.active
{
    color: var(--main-color);
    font-size: 1.8rem;
}

#menu-icon
{
    position: relative;
    font-size: 3.6rem;
    color: var(--font-color);
    cursor: pointer;
    display: none;
}

section
{
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}


.home
{
    display:flex;
    align-items: center;
    padding: 0 9%;
    /* border-bottom: .15rem solid rgb(0, 195, 255); */
      
}

.home-content
{
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* pointer-events:none; */
    width: 100%;
}

.home-content .intro-content
{
    display: flex;
    justify-content: center;
    box-shadow: 0px 0px 100px rgb(0, 0, 0);
    margin-left: -5rem;
}

.intro-content .intro-gif img
{
    width: 7vw;
    /* filter:invert(15%); */
    z-index: 5;
    top: 40%;
    left: 3%;
    filter: drop-shadow(0px 100px 18px var(--h3main-color));
}

.intro-content .intro-text
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.intro-content .intro-text::before
{
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    background: url('./gif/about-png.gif');
    opacity: 0.5;
    filter: blur(10px); 
}

.home-content .intro-content h1, h3
{
    position: relative;
    /* display: inline-block; */
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
    color:#000000;
    -webkit-text-stroke: #fff;
    -webkit-text-stroke-width: 0.7px;
    text-shadow: 0rem 0rem 1.4rem var(--h3main-color);
    transition: .5s;

    /* border: 2px solid red; */
}

.home-content .intro-content h3
{
    font-size: 3rem;
}

.home-profile-img
{
    position: relative;
    width: 40rem;
    height: 40rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
    z-index: 100;
}


.home-profile-img .arrow
{
    transform: rotate(45deg);
    animation: rotate alternate-reverse infinite;
    animation-delay: calc(.3s * var(--i));
    animation-duration: 10s;
    filter: drop-shadow(0px 10px 10px aqua);
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@keyframes rotate
{
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(360deg);
    }
    100%
    {
        transform: rotate(-360deg);
    }
}

.home-profile-img .arrow-one
{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border: 3px solid;
    padding: 10px;
    border-image-source: radial-gradient(
        circle at top left,
        aqua,
        transparent 25%
    );    
    border-image-slice: 1;
    z-index: 1;
    transition: .5s;
    /* animation: arrow-one 3s linear infinite; */
    /* animation-delay: calc(.3s * var(--i)); */
}

.home-profile-img .arrow-one-part
{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border: 3px solid;
    
    padding: 10px;
    border-image-source: radial-gradient(
        circle at top,
        aqua,
        transparent 30%
    );    
    border-image-slice: 1;
    z-index: 1;
    transition: .5s;
    filter: drop-shadow(10px 10px 10px aqua);
    /* transform: translateY(20px); */
    transform: translateY(.8rem) rotate(45deg);
}


/* @keyframes arrow-one 
{
   0%, 100%
   { 
    left: 0%;
    top: 0%;
   }
   50%
   {
    left: 3%;
    top: 3%;
   }    
}

@keyframes arrow-two 
{
   0%, 100%
   { 
    left: 0%;
    top: 0%;
   }
   50%
   {
    left: -3%;
    top: 3%;
   }    
}

@keyframes arrow-three
{
   0%, 100%
   { 
    left: 0%;
    bottom: 0%;
   }
   50%
   {
    left: -3%;
    bottom: 3%;
   }    
}

@keyframes arrow-four
{
   0%, 100%
   { 
    left: 0%;
    bottom: 0%;
   }
   50%
   {
    left: 3%;
    bottom: 3%;
   }    
} */



/* .home-profile-img .arrow-two
{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border: 3px solid;
    
    padding: 10px;
    border-image-source: radial-gradient(
        circle at top right,
        aqua,
        transparent 30%
    );    
    border-image-slice: 1;
    z-index: 1;
    transition: .5s;
} */

.home-profile-img .arrow-two-part
{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border: 3px solid;
    
    padding: 10px;
    border-image-source: radial-gradient(
        circle at right,
        aqua,
        /* rgb(89, 255, 0), */
        transparent 30%
    );    
    border-image-slice: 1;
    z-index: 1;
    transition: .5s;
    filter: drop-shadow(10px 10px 10px aqua);
    /* transform: translateX(-20px); */
    transform: translateY(-.8rem) rotate(45deg);
}


.home-profile-img .arrow-three
{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border: 3px solid;
    
    padding: 10px;
    border-image-source: radial-gradient(
        circle at bottom right,
        aqua,
        transparent 25%
    );    
    border-image-slice: 1;
    z-index: 1;
    transition: .5s;
    /* animation: arrow-three 3s linear infinite; */
    /* animation-delay: calc(.3s * var(--i)); */
}

.home-profile-img .arrow-three-part
{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border: 3px solid;
    
    padding: 10px;
    border-image-source: radial-gradient(
        circle at bottom,
        aqua,
        transparent 30%
    );    
    border-image-slice: 1;
    z-index: 1;
    transition: .5s;
    filter: drop-shadow(10px 10px 10px aqua);
    /* transform: translateY(-20px); */
    transform: translateY(-.8rem) rotate(45deg);
}


.home-profile-img .arrow-four
{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border: 3px solid;
    
    padding: 10px;
    border-image-source: radial-gradient(
        circle at bottom left,
        aqua,
        /* rgb(89, 255, 0), */
        transparent 25%
    );    
    border-image-slice: 1;
    z-index: 1;
    transition: .5s;
    filter: drop-shadow(10px 10px 10px aqua)
}

.home-profile-img .arrow-four-part
{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border: 3px solid;
    
    padding: 10px;
    border-image-source: radial-gradient(
        circle at left,
        aqua,
        /* rgb(89, 255, 0), */
        transparent 25%
    );    
    border-image-slice: 1;
    z-index: 1;
    transition: .5s;
    filter: drop-shadow(10px 10px 10px aqua);
    /* transform: translateX(20px); */
    transform: translateY(.8rem) rotate(45deg);
}

.home-profile-img .profile-pic
{   
    /* position: absolute; */
    object-fit: cover;
    width:85%;
    height: 85%;
    border-radius: 50%;
    border: .2rem solid black;
    /* transform: scale(1) rotate(-20deg);   */
    transform: scale(1);  
    filter: contrast(120%);
    z-index: 105;
    scale:1.13
}

#animation-start
{
    cursor: pointer;
    /* pointer-events:auto; */
    position: absolute;
    /* width: 10rem; */
    top: 50%;
    /* left: 50%; */
    padding: 0% 3%;
    border-radius: 1rem;
    background: transparent;
    color: white;
    border: 2px solid var(--h3main-color);
    box-shadow: 0px 0px 10px aqua;
    z-index: 100;
    opacity: 0;
    scale: 1;
    font-weight: 600;
    letter-spacing: .2rem;
    transition: .5s linear;
}


#home-profile-pic:hover #animation-start
{
    top: 110%;
    opacity: 1;
    scale: 1.1;
}

#home-profile-pic:hover .profile-pic
{
    opacity: .8;
}

.arrow.home-profile-pic-animationStartOff
{
    transition: .5s linear;
    animation: none;
    /* animation: rotate alternate-reverse infinite; */
}


.home-content .intro-content p
{
    position: relative;
    font-size: 1.6rem;
    margin-top: 1rem;
}

.btn-box
{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 34.5rem;
    height: 5rem;
}

.btn-box .btn
{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 100%;
    background: var(--btn-color);
    border: .2rem solid var(--borderbtn-color);
    border-radius: .8rem;
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: .1rem;
    color: var(--font-color);
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.btn-box .btn:hover
{
    color: var(--main-color);
}

.btn-box .btn:nth-child(2)
{
    background: transparent;
    color: var(--btn-color);
}

.btn-box .btn:nth-child(2):hover
{
    color: var(--bg-color);
}

.btn-box .btn:nth-child(2)::before
{
    background: var(--main-color);
}

.btn-box .btn::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--bg-color);
    z-index: -1;
    transition: .4s;
}

.btn-box .btn:hover::before
{
    width: 100%;
}

.home-sci
{
    position: absolute;
    bottom: 4rem;
    width: 170px;
    display: flex;
    justify-content: space-between;
}

.home-sci a
{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: .2rem solid var(--icon-color);
    border-radius: 50%;
    font-size: 20px;
    color: var(--icon-color);
    box-shadow: 0rem 0rem 1rem var(--h3main-color);  
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.home-sci a:hover
{
    color: var(--icon-hover-color);
    border: .2rem solid var(--icon-hover-color);
    box-shadow: 0rem 0rem 1rem var(--icon-hover-color);
    width: 50px;
    height: 50px;
}


.home-sci a::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    z-index: -1;
    transition: .5s;
}

.home-sci a:hover::before
{
    width: 100%;
}


span
{
    color: var(--span-color);
    -webkit-text-stroke: #fff;
    -webkit-text-stroke-width: 0.7px;
    text-shadow: 0rem 0rem 1.4rem var(--h3main-color);  
    font-family: 'Lugrasimo', cursive;
}

/************** about section start   **************/

.about
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    background: var(--second-bg-color);
    padding-bottom: 6rem;
    /* border-bottom: .15rem solid rgb(0, 195, 255); */
    position: relative;
}

.heading
{
    position: relative;
    font-size: 6.5rem;
    text-align: center;
}

.about .about-items
{
    width: 92vw;
    min-height: 70vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-left .about-img
{
    position: relative;
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-img img
{
    
    width: 90%;
    border-radius: 50%;
    border: .2rem solid black;
    overflow: hidden;
}

.about-img .circle-spin
{
    position: absolute;
    transform: translate(-50%,-50%) rotate(0);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: 0 0 10px var(--profile-pic-shadow-color),
                0 0 10px var(--profile-pic-shadow-color),
                0 0 20px var(--profile-pic-shadow-color),
                0 0 40px var(--profile-pic-shadow-color),
                0 0 60px var(--profile-pic-shadow-color),
                0 0 80px var(--profile-pic-shadow-color),
                0 0 100px var(--profile-pic-shadow-color);
    transform: scale(0.9);         
    transition: .5s;
}


.about-left .about-content h3
{
    position: relative;
    display: inline-block;
    font-size: 3rem;
}

.Skills
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: relative;
    border: 2px solid var(--h3main-color);
    height: 50rem;
    width: 65%;
    z-index: 105;
}

.Skills h1
{
    display: flex;
    color: #00ffff;
    font-size: 3rem;
}

.skills-left
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    height: 100%;
    z-index: 102;
    /* align-items: center; */
}

.skill-content
{
    /* border: 2px solid rgb(246, 18, 10); */
    height: 100%;
    width: 90%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* overflow: scroll; */
    /* overflow-x:auto; */
}

.Skills h2
{
    position: relative;
    display: flex;
    padding: 1rem;
}


.Skills .about3d_bg
{
   z-index: 1;
}

/* .about3d_bg
{

} */

.about3d_bg model-viewer
{
    height: 33rem;
    width: 34rem;
}

.about-content p
{
    position: relative;
    font-size: 2.1rem;
    margin: 2rem 0 3rem;
    font-family: 'Dancing Script', cursive;
}

/*************   about-section end   **************/


.btn-box.btns                
{
    display: inline-block;
    width: 15rem;
}

.btn-box.btns a::before
{
    background: var(--second-bg-color);
}

.education
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: auto;
    padding-bottom: 5rem;
    /* border-bottom: .15rem solid rgb(0, 195, 255); */
}



.education .education-row
{
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
    z-index: 100;
}

.education-row .education-column          
{
    flex: 1 1 40rem;
    display: flex;
    justify-content: space-between;
    /* border: 2px solid red; */
    width: 92vw;
} 

.education-column
{
    position: relative;
    display: inline-block;
    font-size: 2.5rem;
    margin: 0 0 1.5rem 2rem;
}

.education-column .education-box
{
    width: 60rem;
}

.education-box .education-content
{
    position:relative;
    padding: 2rem;
}

.education-content .content
{
    position: relative;
    padding: 1.5rem;
    border: .2rem solid var(--projects-border-color);
    border-radius: .6rem;
    margin-bottom: 2rem;
    overflow: hidden;
}

.education-content .content:hover
{
    box-shadow: 0rem 0rem 1rem var(--projects-hover-color);
    border: .2rem solid var(--projects-borderhover-color);
}

.education-content .content::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background:var(--projects-before-color);
    z-index: -1;
    transition: .5s;
}

.education-content .content:hover::before
{
    width: 100%;
}


.education-content .content .year
{
    font-size: 1.5rem;
    color: var(--main-color);
    padding-bottom: .5rem;
}

.education-content .content .year i
{
    padding: .5rem;

}

.education-content .content h3
{
    font-size: 2rem;
    -webkit-text-stroke-width: 0;
    color: var(--h3main-color);
}

.education-content .content p
{
    font-size: 1.6rem;
    padding-top: .5rem;
}

/* edu-right part */
.education-column .edu-right
{
    /* border: 2px solid red; */
    width: 55rem;
    height: 43rem;
}

.edu-right img
{
    /* border: 2px solid red; */
    height: 100%;
    width: 100%;
    filter: drop-shadow(0rem 5rem 10px rgb(4, 198, 220)) invert(100%) hue-rotate(180deg);
}

/*************   Starting projects section ***********/
.projects
{
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: 5rem;
}

.projects .project-content
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    /* border: 2px solid red; */
    column-gap: 5rem;
    z-index: 100;
    width: 100%;
    /* position: relative; */
}

.project-content .dtlcard
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    height: 27vw;
    /* border: 2px solid red; */
}

.dtlcard .card
{
    border: 1px solid rgb(255, 255, 255);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: 1rem;   */
    height: 100%;
    width: 35%;
    position: relative;
    /* top: 5%; */
    overflow: hidden;
    cursor: pointer;
    z-index: 100;
    transition: .4s ease-in;
    box-shadow: -5px 15px 10px 2px rgba(0, 255, 255, 0.437);
}

.card:hover
{
    box-shadow: 5px 15px 10px 2px rgba(0, 255, 255, 0.437);
}

/* .card .cursor1
{
    position: absolute;
    /* width: fit-content; 
    height: 5.5vw;
    width: 5.5vw;
    border: 2px solid aqua;
    border-radius: 50%;
    padding: 1rem;
    color: #fff;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    /* display: none;
    opacity: 0; 
    font-size: 1.6vw;
    font-weight: 600;
    background:rgba(2, 255, 251, 0.2);
    transform: translate(-50%, -50%);
    opacity: 0;
} */

.card img
{
    height:100%;
    width: 100%;
    /* object-fit: cover; */
    opacity: 0.3;
    transition: .3s;
}

.card:hover img
{
    opacity: 0.3;
}

.card .w-click
{
    position: absolute;
    bottom: 40%;
}

.card:hover .w-click
{
    /* opacity: 0; */
    bottom: -50%;
}

.card .w-open
{
    /* border: 2px solid red; */
    position: absolute;
    top: -50%;
}

.card:hover .w-open
{
    top: 40%;
}

/* quick deatils about the project  */

.dtlcard .about-project
{
    /* border: 2px solid red; */
    width: 50%;
}

.about-project .project-heading
{
    font-size: 4.5rem;
    text-shadow: none;
}

.about-project .project-para
{
    color: var(--font-color);
    font-size: 1.4rem;
}

/* projects markers    */
.project-markers
{
    position: relative;
    border: 2px solid aqua;
    height: 100%;
    /* width: 1%; */
    right: 55%;
    top: 36%;
}

.project-markers .mark
{
    border: 2px solid aqua;
    background: aqua;
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    position: absolute;
    transform: translate(-50%,-50%);
}

/* animation  projects */
@media (prefers-reduced-motion: no-preference)
{
   .card
   {
    animation: projectOpen linear forwards;
    animation-timeline: view();
    animation-range: entry;
    scale: .8;
    opacity: 0;
   }

   .about-project
   {
    animation: projectOpen linear forwards;
    animation-timeline: view();
    animation-range: entry;
    scale: .8;
    opacity: 0;
    position: absolute;
    /* right: -50%; */
    transition: .5s;
    border: 2px solid red;
   }
   
    .project-markers, .project-markers #first
    {
        opacity: 0;
        animation: projectMarkers linear forwards;
        animation-timeline: scroll();
        animation-range: entry;
    }

    .project-markers #second
    {
        top:50%;
        opacity: 0;
        animation: projectMarkers linear forwards;
        animation-timeline: scroll();
        animation-range: entry;
        animation-delay: calc(100*var(--i));
    }

    @keyframes projectOpen
    {
        100%{
            scale: 1;
            opacity: 1;
            right: 0%;
        }
    }

    @keyframes projectMarkers
    {
        50%{
            opacity: .3;
        }

        80%{
            opacity: 0.7;
        }

        90%{
        opacity: 0.8;
        }


        100%{
            opacity: 1;
        }

    }

}

/*************  Ending Links to our projects   ***********/



.contact
{
    min-height: auto;
    padding-bottom: 7rem;
}

.contact h2
{
    display: inline-block;
    left: 50%;
    transform: translateX(-50%);
}

.contact form
{
    max-width: 70rem;
    margin: 0 auto;
    text-align: center;
}

.contact form .input-box
{
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    z-index: 100;
}

.contact form .input-box .input-field
{
    position: relative;
    width: 49%;
    margin: .8rem 0;
}

.contact form .input-box .input-field input, 
.contact form .textarea-field textarea
{
    width: 100%;
    height: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--font-color);
    background: transparent;
    border-radius: .6rem;
    border: .2rem solid var(--main-color);
    z-index: 100;
}

.contact form .input-box .input-field input::placeholder
.contact form .textarea-field textarea::placeholder
{
    color: var(--font-color);
}

.contact form .focus
{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--second-bg-color);
    border-radius: .6rem;
    z-index: -1;
    transition: .5s;
}

.contact form .input-box .input-field input:focus~.focus,
.contact form .input-box .input-field input:valid~.focus,
.contact form .textarea-field textarea:focus~.focus,
.contact form .textarea-field textarea:valid~.focus
{
    width: 100%;
}

.contact form .textarea-field
{
    position: relative;
    margin: .8rem 0 2.7rem;
    display: flex;
}

.contact form .textarea-field textarea
{
    resize: none;
}

.contact form .btn-box.btns #subbtn
{
    cursor: pointer;
}



/************   loader section    ************/

.loading-page
{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s;
}

.loading-page span
{
    font-size: 4.3rem;
    -webkit-text-stroke: 0;
    color: #fff;
    animation: loading 2s linear infinite;
    opacity: 0;
    animation-delay: calc(0.3s * var(--i));
}

@keyframes loading 
{
   0%{
    opacity: 1;
   } 
   50%
   {
    opacity: .5;
   }
   100%
   {
    opacity: 0;
   }
}

.loading-page.loding-off
{
    bottom: 100%;
    opacity: 0;
    /* overflow-y: hidden; */
}

.main
{
    opacity: 0;
    /* display: none; */
    opacity: 0;
    transition: .3s;
}

::-webkit-scrollbar
{
    opacity: 0;
}

::-webkit-scrollbar-thumb
{
    opacity: 0;
}

.loding-of
{
    .main
    {
        opacity: 1;
        display: block;
        /* z-index: 1000; */
    }

}

.loding-of::-webkit-scrollbar
{
    background: var(--scrolbar-bg-color);
    width: 1rem;
    opacity: 1;
}

.loding-of::-webkit-scrollbar-thumb
{
    background: var(--h3main-color);
    border-radius: 1rem;
    opacity: 1;
}




/* making responsive */

@media (max-width: 1500px)
{

    html
    {
        font-size:60%;
    }

}

@media (max-width: 1200px)
{
    html
    {
        font-size: 55%;
    }
}

@media (max-width:1100px)
{ 

    .home-profile-img
    {
        height: 35rem;
        width: 35rem;
        margin: 0;
    }

    .Skills
    {
        /* width: 90%; */
        gap: 10rem;
    }

    .skills-left h1
    {
        justify-content: center;
    }

    .skills-right
    {
        height: 25rem;
        width: 25rem;
        margin-bottom:10rem ;
        margin-left:-13rem ;
        /* border: 2px solid red; */
    }

}


@media (max-width: 991px)
{
    .header
    {
        padding: 2rem 4%;
    }

    section
    {
        padding: 10rem 4% 2rem;
    }

    .home
    {
        padding: 0 4%;
    }

    .home-content .intro-content
    {
        margin-left: 0;
    }

    .intro-gif
    {
        display: none;
    }
    

}

@media (max-width:895px)
{
   .about3d_bg model-viewer
   {
    height: 25rem;
    width: 25rem;
    /* border: 2px solid red; */
   }
}

@media (max-width:855px)
{


    .home-content h1
    {
        font-size: 5rem;
    }
 
}

@media (max-width:840px)
{
    .Skills
    {
        gap: 0rem;
    }

    .intro-content h1
    {
        display: flex;
        flex-direction: column;
        width: 45rem;
    }

}

@media(max-width:800px)
{
    html
    {
        font-size: 55%;
    }

    .home-profile-img
    {
        height: 30rem;
        width: 30rem;
        margin: 0;
    }

    .Skills
    {
        justify-content: space-between;
    }

}


@media (max-width: 768px)
{
    /* .header
    {
        background: var(--bg-color);
    } */
    
    #menu-icon
    {
        display: block;
    }

    .navbar
    {
        position: absolute;
        top: 100%;
        left: -100%;
        width: 100%;
        padding: 1rem 4%;
        /* background: var(--main-color); */
        background: linear-gradient(80deg, aqua,transparent,aqua,transparent);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        z-index: 8;                                 
        transition: .25s ease;
        transition-delay: .25s;
    }

    .navbar.active
    {
        left: 0;
        transition-delay: 0s;
    }

    .navbar .active-nav
    {
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background:var(--bg-color);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        z-index: -1;                                     
        transition: .25s ease;
        transition-delay: 0s;
    }

    .navbar.active .active-nav
    {
        left: 0;
        transition-delay: .25s;
    }

    .navbar a
    {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        transform: translateX(-20rem);
        transition: .25s ease;
        transition-delay: 0s;
        z-index: 100;
    }

    .navbar.active a
    {
        transform: translateX(0);
        transition-delay: .25s;
    }

    .home-profile-img
    {
        height: 27rem;
        width: 27rem;
    }

    .about-items
    {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /* border: 2px solid red; */
        margin: 0;
    }

    .Skills
    {
        width: 90%;
    }

    .about-left
    {
        display:flex ;
        flex-direction: column;
        align-items: center;
        /* border: 2px solid red; */
    }
    
    .about-left .about-content
    {
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
    }

    .about-content p
    {
        text-align: center;
    }

    .skills-right model-viewer
    {
        height: 35rem;
        width: 35rem;
        margin-left: -10rem;
    }

}

@media (max-width:700px)
{
    html
    {
      font-size: 55%;  
    }

    .home
    {
        size: 100%;
        justify-content: center;
    }

    .home-content           
    {
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
        /* height: 55vh; */
        gap: 2rem;
    }
    
    .home-profile-img
    {
        height: 25rem;
        width: 25rem;
    }



    .education-column
    {
        flex-direction: column;
        align-items: center;
        margin-left: 0;
    }
    
}


@media (max-width:680px)
{

   .about-content
   {
    text-align: center;
   }

   .Skills
   {
    margin-top: 0rem;
    margin-left: 0rem;
   }
   
   .Skills h1
   {
    display: flex;
    justify-content: center;
   }  

   /* .home-profile-img
   {
       margin-top: 2.8rem;
   } */

   #animation-start
   {
       font-size: 1.5rem;
       top: 50%;
       left: 50%;
   }

   #home-profile-pic:hover #animation-start
   {
       opacity: 1;
       left: 102%;
       top: 50%;
       scale: 1.1;
   }

}


@media (max-width: 515px)
{
     
    html
    {
      font-size: 52%;  
    }

    .home
    {
        size: 100%;
        justify-content: center;
    }

    .home-profile-img
    {
        height: 27rem;
        width: 27rem;
    }

}

@media (max-width: 506px)
{
    
    .home-content h1
    {
        font-size: 5.2rem;
    }

    .home-content span
    {
        display: grid;
    }

    .education
    {
        padding: 10rem 4% 5rem 5%;
    }

    .contact form .input-box .input-field
    {
        width: 100%;
    }

}


@media (max-width:490px)
{
    html
    {
        font-size: 49%;
    }

    .about3d_bg model-viewer
    {
     height: 30rem;
     width: 30rem;
     margin: 0;
     left: -20%;
    }

    .education-bg img
    {
        height: 40rem;
    }

    .education-column .education-box
    {
        width: 100%;
        /* border: 2px solid red; */
    }

    .education-column .edu-right
    {
        width: 100%;
        height: 40rem;
    }


}

@media (max-width:410px)
{

    html
    {
        font-size: 48%;
    }

    .skills-left
    {
        justify-content: center;
        width: 100%;
    }

    .skills-left .skill-content
    {
        border: 2px solid green;
        width: 100%;
        align-items: center;
    }
    .about3d_bg
    {
     /* margin-left:12rem ; */
     display: none;
    }



}

@media (max-width:348px)
{
    /* .about-img
    {
     margin-left: 6.5rem;
    } */

    .about3d_bg
    {
     margin-left:8rem ;
    }

}
